body{ /* CUERPO */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
}

footer{ /* COPY */
    background-color: #F44A36;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-top: 6px;
    margin-bottom: 2px;
}

section{ /* INFORMACION EMPRESA */
    color:#fff;
    text-align: center;
    font-size: larger;
    width: 50%;
}

.separador{ /* RAYA BLANCA */
    border: 0;
    height: 0.5px;
    background-color: white;
    margin: 5px 0;
}

.separador3{ /* ENTRE EL MENU Y EL CARRUSEL */
    border: 0;
    height: 0.5px;
    background-color: none;
    margin: 20px 0;
}

.separador2{ /* ENTRE EL CARRUSEL Y TEXTO */
    border: 0;
    height: 0.5px;
    background-color: none;
    margin: 20px 0;
}

a, a:hover{ /* QUITAR COLOR Y OTRA COSA */
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: larger;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FAB451;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h2 {
    text-align: center;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    background-color: #FA6E51;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover,
button:hover {
    background-color: #F44A36;
}
  
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
  
.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

.separador4{
    border: 0;
    height: 0.5px;
    background-color: none;
    margin: 30px 0;
}

.aqui{
    color: #FA6E51;
    font-size: medium;
}
.aqui:hover{
    font-size: medium;
    color: #F44A36;
}
/* Estilos para el campo de género */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* Oculta la apariencia predeterminada del select */
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    cursor: pointer;
  }
  
  select::-ms-expand {
    display: none; /* Oculta la flecha del select en Internet Explorer */
  }

  .form-check-input {
    margin-top: 0.5rem;
  }
  
  .form-check-label {
    margin-left: 0.5rem;
  }